name: CI/CD

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [8]
        type: ['', '-prod']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: docker-buildx-${{ matrix.version }}${{ matrix.type }}-${{ github.sha }}
          restore-keys: docker-buildx-${{ matrix.version }}${{ matrix.type }}-

      - name: Build
        run: |
          docker buildx build \
            --cache-from type=local,src=/tmp/.buildx-cache/${{ matrix.version }}${{ matrix.type }} \
            --cache-to type=local,dest=/tmp/.buildx-cache/${{ matrix.version }}${{ matrix.type }} \
            --output type=docker \
            --tag kooldev/java:${{ matrix.version }}${{ matrix.type }} \
            ${{ matrix.version }}${{ matrix.type }}
      - name: Tests
        run: |
          docker run kooldev/java:${{ matrix.version }}${{ matrix.type }} java -version
          if [ -e ${{ matrix.type }} ]; then
            docker run kooldev/java:${{ matrix.version }}${{ matrix.type }} mvn -version
            docker run kooldev/java:${{ matrix.version }}${{ matrix.type }} gradle -version
          fi

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: github.ref == 'refs/heads/master' && github.repository == 'kool-dev/docker-java'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to DockerHub
        if: github.ref == 'refs/heads/master' && github.repository == 'kool-dev/docker-java'
        run: |
          docker push kooldev/java:${{ matrix.version }}${{ matrix.type }}
